[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:AkshaySangani/api-gateway.git

[submodule "product-service"]
	path = product-service
	url = git@github.com:AkshaySangani/product-microservice.git

[submodule "auth-service"]
	path = auth-service
	url = git@github.com:AkshaySangani/auth-microservice.git

[submodule "shared-models"]
	path = shared-models
	url = git@github.com:AkshaySangani/shared-models.git

[submodule "channel-microservice"]
	path = channel-microservice
	url = git@github.com:AkshaySangani/channel-microservice.git

[submodule "channel-service"]
	path = channel-service
	url = git@github.com:AkshaySangani/channel-microservice.git

[submodule "message-service"]
	path = message-service
	url = git@github.com:AkshaySangani/message-microservice.git

[submodule "payment-service"]
	path = payment-service
	url = git@github.com:AkshaySangani/payment-service.git
